html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #005064;
  background-color: #e8fdff;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.display-3 {
  font-family: "Amatic SC", cursive, "Garamond", Georgia, serif;
  color:  #e8fdff;
}

.display-4 {
  font-family: 'Great Vibes', cursive;
  color:  #e8fdff;
}

.lead {
  color:  #e8fdff;
}

/*  -------- Navbar --------  */
nav {
  display: flex;
}

.bg-custom {
  background-color: #005064;
}

.navbar-brand {
  font-family: "Lovers Quarrel", cursive;
  font-size: 2em;
  min-width: 1em;
}

/* Navbar brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: red !important;
}

/* Navbar link color */
.navbar-custom .navbar-nav .nav-link {
    color: green;
}
/* Navbar color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: purple;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*  -------- Jumbotron --------  */
.jumbotron {
  background-color: #005064;
}

/*  -------- Cards --------  */
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/*  -------- Media queries --------  */

/*
font-family: 'Amatic SC', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Eagle Lake', cursive;
*/
